@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&subset=latin,cyrillic);

html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

html {
    padding: 0;
    margin: 0 auto;
    border: none
}
a {
    text-decoration: none;
}
.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.mobile_burger_opened {
    display: none;
}
.header_block_fixed {
    position: fixed;
}
.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
}
.d-block {
    display: block;
}
.flex-center-jc-center {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.flex-center-jc-sp-between {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.flex-wrap-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap:wrap;
}

.flex-flex-direction {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-flex-flow {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
}
.link {
    color: #00aaff;
    text-decoration: none;
    border-bottom: 1px solid #00aaff;
    box-shadow: inset 0px -1px 0px 0px #00aaff;
    -webkit-box-shadow: inset 0px -1px 0px 0px #00aaff;
    -moz-box-shadow: inset 0px -1px 0px 0px #00aaff;
}
.link-t {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    box-shadow: inset 0 0 0 0 #ffffff;
    -webkit-box-shadow: inset 0 0 0 0 #ffffff;
    -moz-box-shadow: inset 0 -0px 0 0 #ffffff;
}
.line_top {
    border-top: 1px solid #e9ecef;
}
.short_section {
    min-height: 400px !important;
}
.plus-bb {
    margin: 50px 0 0 0;
}
.p-rel {
    position: relative;
}
.sm-wrapper {
    margin-top: 40px;
    max-width: 910px;
}
.lll {
    padding-top: 0 !important;
    margin-top: 0;
    min-height: 300px !important;
}
.lll-b {
    min-height: 350px !important;
}
.custom {
    color: #263139;
    font-size: 25px;
    line-height: 1.3;
    font-weight: 300;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    text-align: left;
}
.prime {
    opacity: 1 !important;
}
ul {
    max-width: 1140px;
    color: #555555;
    font-size: 18px;
    line-height: 2;
    font-weight: 300;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    li {
        display: list-item;
        text-align: -webkit-match-parent;
        &::marker {
            unicode-bidi: isolate;
            font-variant-numeric: tabular-nums;
            text-transform: none;
            text-indent: 0 !important;
            text-align: start !important;
            text-align-last: start !important;
        }
        strong {
            font-weight: 700;
        }
    }
}
em {
    display: block;
    margin-top: 40px;
    color: #555555;
    font-size: 18px;
    font-style: italic;
    line-height: 2;
    font-weight: 300;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}
ol {
    max-width: 1140px;
    color: #555555;
    font-size: 18px;
    line-height: 2;
    font-weight: 300;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    li {
        display: list-item;
        text-align: -webkit-match-parent;
        &::marker {
            unicode-bidi: isolate;
            font-variant-numeric: tabular-nums;
            text-transform: none;
            text-indent: 0 !important;
            text-align: start !important;
            text-align-last: start !important;
        }
        strong {
            font-weight: 700;
        }
    }
}
img {
    width: 100%;
    height: auto;
}
blockquote {
    background-color: #f8f9fb;
    margin: 5px 15px;
    padding: 10px;
    border-left: 2px solid #555555;
    color: #555555;
    font-size: 18px;
    line-height: 2;
    font-weight: 300;
}
code {
    display: block;
    background-color: #f8f9fb;
    margin: 5px 15px;
    padding: 10px;
    border-left: 2px solid #555555;
    color: #555555;
    font-size: 18px;
    line-height: 2;
    font-weight: 300;
}
pre {
    width: fit-content;
    padding: 10px;
    display: block;
    background-color: #f8f9fb;
    border-left: 2px solid #555555;
    color: #555555;
    font-size: 18px;
    line-height: 2;
    font-weight: 300;
}
video {
    display: block;
    margin: 0 auto;
    max-width: 550px;
    height: auto;
    width: 100%;
}
span {
    display: block;
    color: #555555;
    font-size: 18px;
    line-height: 1.55;
    font-weight: 300;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    margin-bottom: 0;
    strong {
        font-weight: 700;
        font-size: 30px;
    }
    a {
        color: #00aaff;
        text-decoration: none;
        border-bottom: 1px solid #00aaff;
        box-shadow: inset 0px -1px 0px 0px #00aaff;
        -webkit-box-shadow: inset 0px -1px 0px 0px #00aaff;
        -moz-box-shadow: inset 0px -1px 0px 0px #00aaff;
    }
}
p {
    display: block;
    color: #555555;
    font-size: 18px;
    line-height: 1.55;
    font-weight: 300;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    margin-bottom: 0;
    strong {
        font-weight: 700;
        font-size: 30px;
    }
    a {
        color: #00aaff;
        text-decoration: none;
        border-bottom: 1px solid #00aaff;
        box-shadow: inset 0px -1px 0px 0px #00aaff;
        -webkit-box-shadow: inset 0px -1px 0px 0px #00aaff;
        -moz-box-shadow: inset 0px -1px 0px 0px #00aaff;
    }
}
h1 {
    margin: 15px 0 15px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 150%;
    color: #555555;
}
h2 {
    margin: 15px 0 15px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 150%;
    color: #555555;
}
h3 {
    margin: 15px 0 15px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    color: #555555;
}
h4 {
    margin: 15px 0 15px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: #555555;
}
h5 {
    margin: 15px 0 15px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    color: #555555;
}
h6 {
    margin: 15px 0 15px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #555555;
}
hr {
    width: 100%;
    border: none;
    background-color: #555555;
    color: #555555;
    height: 2px;
}