@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&subset=latin,cyrillic);
html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif; }

body {
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh; }

html {
  padding: 0;
  margin: 0 auto;
  border: none; }

a {
  text-decoration: none; }

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

.mobile_burger_opened {
  display: none; }

.header_block_fixed {
  position: fixed; }

.d-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex; }

.d-block {
  display: block; }

.flex-center-jc-center {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }

.flex-center-jc-sp-between {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.flex-wrap-wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-flex-direction {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.flex-flex-flow {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap; }

.link {
  color: #00aaff;
  text-decoration: none;
  border-bottom: 1px solid #00aaff;
  box-shadow: inset 0px -1px 0px 0px #00aaff;
  -webkit-box-shadow: inset 0px -1px 0px 0px #00aaff;
  -moz-box-shadow: inset 0px -1px 0px 0px #00aaff; }

.link-t {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
  box-shadow: inset 0 0 0 0 #ffffff;
  -webkit-box-shadow: inset 0 0 0 0 #ffffff;
  -moz-box-shadow: inset 0 -0px 0 0 #ffffff; }

.line_top {
  border-top: 1px solid #e9ecef; }

.short_section {
  min-height: 400px !important; }

.plus-bb {
  margin: 50px 0 0 0; }

.p-rel {
  position: relative; }

.sm-wrapper {
  margin-top: 40px;
  max-width: 910px; }

.lll {
  padding-top: 0 !important;
  margin-top: 0;
  min-height: 300px !important; }

.lll-b {
  min-height: 350px !important; }

.custom {
  color: #263139;
  font-size: 25px;
  line-height: 1.3;
  font-weight: 300;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  text-align: left; }

.prime {
  opacity: 1 !important; }

ul {
  max-width: 1140px;
  color: #555555;
  font-size: 18px;
  line-height: 2;
  font-weight: 300;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 10px; }
  ul li {
    display: list-item;
    text-align: -webkit-match-parent; }
    ul li::marker {
      unicode-bidi: isolate;
      font-variant-numeric: tabular-nums;
      text-transform: none;
      text-indent: 0 !important;
      text-align: start !important;
      text-align-last: start !important; }
    ul li strong {
      font-weight: 700; }

em {
  display: block;
  margin-top: 40px;
  color: #555555;
  font-size: 18px;
  font-style: italic;
  line-height: 2;
  font-weight: 300;
  background-position: center center;
  border-color: transparent;
  border-style: solid; }

ol {
  max-width: 1140px;
  color: #555555;
  font-size: 18px;
  line-height: 2;
  font-weight: 300;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 10px; }
  ol li {
    display: list-item;
    text-align: -webkit-match-parent; }
    ol li::marker {
      unicode-bidi: isolate;
      font-variant-numeric: tabular-nums;
      text-transform: none;
      text-indent: 0 !important;
      text-align: start !important;
      text-align-last: start !important; }
    ol li strong {
      font-weight: 700; }

img {
  width: 100%;
  height: auto; }

blockquote {
  background-color: #f8f9fb;
  margin: 5px 15px;
  padding: 10px;
  border-left: 2px solid #555555;
  color: #555555;
  font-size: 18px;
  line-height: 2;
  font-weight: 300; }

code {
  display: block;
  background-color: #f8f9fb;
  margin: 5px 15px;
  padding: 10px;
  border-left: 2px solid #555555;
  color: #555555;
  font-size: 18px;
  line-height: 2;
  font-weight: 300; }

pre {
  width: fit-content;
  padding: 10px;
  display: block;
  background-color: #f8f9fb;
  border-left: 2px solid #555555;
  color: #555555;
  font-size: 18px;
  line-height: 2;
  font-weight: 300; }

video {
  display: block;
  margin: 0 auto;
  max-width: 550px;
  height: auto;
  width: 100%; }

span {
  display: block;
  color: #555555;
  font-size: 18px;
  line-height: 1.55;
  font-weight: 300;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  margin-bottom: 0; }
  span strong {
    font-weight: 700;
    font-size: 30px; }
  span a {
    color: #00aaff;
    text-decoration: none;
    border-bottom: 1px solid #00aaff;
    box-shadow: inset 0px -1px 0px 0px #00aaff;
    -webkit-box-shadow: inset 0px -1px 0px 0px #00aaff;
    -moz-box-shadow: inset 0px -1px 0px 0px #00aaff; }

p {
  display: block;
  color: #555555;
  font-size: 18px;
  line-height: 1.55;
  font-weight: 300;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  margin-bottom: 0; }
  p strong {
    font-weight: 700;
    font-size: 30px; }
  p a {
    color: #00aaff;
    text-decoration: none;
    border-bottom: 1px solid #00aaff;
    box-shadow: inset 0px -1px 0px 0px #00aaff;
    -webkit-box-shadow: inset 0px -1px 0px 0px #00aaff;
    -moz-box-shadow: inset 0px -1px 0px 0px #00aaff; }

h1 {
  margin: 15px 0 15px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 150%;
  color: #555555; }

h2 {
  margin: 15px 0 15px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 150%;
  color: #555555; }

h3 {
  margin: 15px 0 15px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 150%;
  color: #555555; }

h4 {
  margin: 15px 0 15px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 150%;
  color: #555555; }

h5 {
  margin: 15px 0 15px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  color: #555555; }

h6 {
  margin: 15px 0 15px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  color: #555555; }

hr {
  width: 100%;
  border: none;
  background-color: #555555;
  color: #555555;
  height: 2px; }

.header_block {
  background-color: rgba(44, 60, 76, 0);
  box-shadow: none;
  display: block;
  width: 100%;
  height: 80px;
  z-index: 990;
  top: 0;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  -webkit-font-smoothing: antialiased; }
  .header_block .wrapper .header_block_left {
    display: table-cell;
    vertical-align: middle;
    padding: 15px 0 20px 20px; }
    .header_block .wrapper .header_block_left .d-block .header_block_left_link {
      color: #FFFFFF; }
      .header_block .wrapper .header_block_left .d-block .header_block_left_link .header_block {
        max-width: 200px;
        width: 200px;
        height: auto;
        display: block; }
      .header_block .wrapper .header_block_left .d-block .header_block_left_link .header_block_t {
        max-width: 244px;
        width: 244px;
        height: auto;
        display: block; }
  .header_block .wrapper .header_block_right {
    padding-right: 20px;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    width: 100%; }
    .header_block .wrapper .header_block_right .header_block_right_list {
      list-style-type: none;
      text-align: right; }
      .header_block .wrapper .header_block_right .header_block_right_list .list_item {
        clear: both;
        font-size: 16px;
        display: inline;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0;
        color: #000;
        white-space: nowrap; }
        .header_block .wrapper .header_block_right .header_block_right_list .list_item .list_item_link {
          color: #ffffff;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 2px;
          text-transform: uppercase;
          -webkit-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
          transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
          position: relative; }
          .header_block .wrapper .header_block_right .header_block_right_list .list_item .list_item_link::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 20%;
            opacity: 0;
            width: 100%;
            height: 100%;
            border-bottom: 1px solid #ffffff;
            -webkit-box-shadow: inset 0px -1px 0px 0px #ffffff;
            -moz-box-shadow: inset 0px -1px 0px 0px #ffffff;
            box-shadow: inset 0px -1px 0px 0px #ffffff;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease; }
          .header_block .wrapper .header_block_right .header_block_right_list .list_item .list_item_link:hover {
            color: #ffffff; }
            .header_block .wrapper .header_block_right .header_block_right_list .list_item .list_item_link:hover::after {
              opacity: 1;
              bottom: -1px; }
      .header_block .wrapper .header_block_right .header_block_right_list .list_item:first-child {
        padding-left: 0; }
      .header_block .wrapper .header_block_right .header_block_right_list .list_item:last-child {
        padding-right: 0; }
  .header_block .wrapper .header_block_right_hr hr {
    margin: 0 20px 0 20px;
    background-color: #ffffff;
    height: 1px;
    opacity: 0.2;
    border: none; }

.mobile {
  display: none; }

@media (max-width: 995px) {
  .header_block {
    display: none; }

  .mobile {
    background-color: #2c3c4c;
    display: block;
    position: relative;
    z-index: 1; }
    .mobile .mobile_container {
      padding: 20px;
      position: relative; }
      .mobile .mobile_container .mobile_text {
        position: relative;
        z-index: 2;
        color: #fff;
        font-size: 18px;
        line-height: 1.35;
        font-weight: 600;
        text-align: center; }
      .mobile .mobile_container .mobile_burger {
        position: absolute;
        top: 50%;
        margin-top: -10px;
        right: 20px;
        width: 28px;
        height: 20px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        z-index: 9999; }
        .mobile .mobile_container .mobile_burger span {
          display: block;
          position: absolute;
          width: 100%;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .25s ease-in-out;
          -moz-transition: .25s ease-in-out;
          -o-transition: .25s ease-in-out;
          transition: .25s ease-in-out;
          height: 3px;
          background-color: #fff; }
        .mobile .mobile_container .mobile_burger span:nth-child(1) {
          top: 0; }
        .mobile .mobile_container .mobile_burger span:nth-child(2) {
          top: 8px; }
        .mobile .mobile_container .mobile_burger span:nth-child(3) {
          top: 8px; }
        .mobile .mobile_container .mobile_burger span:nth-child(4) {
          top: 16px; }

  .mobile_burger_opened .mobile_container .mobile_burger span:nth-child(1) {
    top: 8px;
    width: 0%;
    left: 50%; }
  .mobile_burger_opened .mobile_container .mobile_burger span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .mobile_burger_opened .mobile_container .mobile_burger span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .mobile_burger_opened .mobile_container .mobile_burger span:nth-child(4) {
    top: 8px;
    width: 0%;
    left: 50%; }

  .header_block_hidden {
    position: relative;
    z-index: 2;
    background-color: #2c3c4c;
    box-shadow: none;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    height: auto !important; }
    .header_block_hidden .wrapper {
      width: 100%;
      display: table;
      position: relative;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .header_block_hidden .wrapper .header_block_left {
        width: 100%;
        padding: 20px;
        box-sizing: border-box; }
        .header_block_hidden .wrapper .header_block_left .d-block .header_block_left_link {
          display: block;
          max-width: 200px;
          width: 100%;
          margin: 0 auto;
          padding: 20px; }
      .header_block_hidden .wrapper .header_block_right {
        padding: 20px 0;
        width: 100%;
        display: block; }
        .header_block_hidden .wrapper .header_block_right .header_block_right_list {
          margin: 0;
          display: block;
          padding: 0; }
          .header_block_hidden .wrapper .header_block_right .header_block_right_list .list_item {
            display: block;
            text-align: center;
            padding: 10px;
            white-space: normal; }
          .header_block_hidden .wrapper .header_block_right .header_block_right_list .list_item:last-child {
            padding-right: 10px; }
      .header_block_hidden .wrapper .header_block_right_hr {
        display: none; } }
@media (max-width: 400px) {
  .mobile .mobile_container .mobile_text {
    font-size: 14px; } }
.top_section {
  margin-top: 0;
  position: relative; }
  .top_section .wrapper {
    margin-top: 0; }
    .top_section .wrapper .top_section_body {
      min-height: 850px;
      height: auto;
      background-color: #ffffff; }
      .top_section .wrapper .top_section_body .background_top_image {
        padding-top: 150px;
        margin: 0 auto 0 auto;
        max-width: 350px;
        width: 100%;
        height: auto;
        position: relative;
        z-index: 1; }
        .top_section .wrapper .top_section_body .background_top_image img {
          max-width: 350px;
          width: 100%;
          height: auto; }
      .top_section .wrapper .top_section_body .background_top {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        width: 100%;
        min-height: 850px;
        height: 100%;
        background-position: center center;
        background-attachment: fixed;
        background-image: url(../img/bgimg.jpg);
        background-size: cover;
        background-repeat: no-repeat; }
      .top_section .wrapper .top_section_body .top_section_body_title {
        margin: 10px auto;
        position: relative;
        max-width: 760px;
        height: auto;
        color: #ffffff;
        font-size: 90px;
        display: block;
        vertical-align: middle;
        text-align: center;
        z-index: 3;
        line-height: 1.55;
        font-weight: 700;
        border-color: transparent;
        border-style: solid; }
      .top_section .wrapper .top_section_body .top_section_body_text {
        margin: 15px auto;
        max-width: 760px;
        height: auto;
        position: relative;
        color: #ffffff;
        font-size: 24px;
        line-height: 1.3;
        font-weight: 300;
        z-index: 3;
        border-color: transparent;
        border-style: solid;
        display: block;
        vertical-align: middle;
        width: 100%;
        text-align: center; }
      .top_section .wrapper .top_section_body .background_top_image_next {
        position: relative;
        display: block;
        margin: 155px auto 5px auto;
        width: 40px;
        height: 40px;
        z-index: 3; }
        .top_section .wrapper .top_section_body .background_top_image_next img {
          width: 40px;
          height: auto; }
  @media (max-width: 995px) {
    .top_section .wrapper .top_section_body .top_section_body_title {
      font-size: 70px; } }

.top_section_t {
  margin-top: 0;
  position: relative;
  min-height: 590px; }
  .top_section_t .wrapper {
    margin-top: 0; }
    .top_section_t .wrapper .top_section_body {
      min-height: 590px;
      padding: 0 20px;
      height: auto;
      background-color: #ffffff; }
      .top_section_t .wrapper .top_section_body .background_top {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        width: 100%;
        min-height: 590px;
        height: 100%;
        background-position: center center;
        background-attachment: fixed;
        background-image: url(../img/termidesk_bg.png);
        background-size: cover;
        background-repeat: no-repeat; }
      .top_section_t .wrapper .top_section_body .top_section_term {
        display: block;
        padding-top: 130px;
        color: #ffffff;
        font-size: 24px;
        line-height: 1.55;
        font-weight: 700;
        opacity: 0.95;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        margin-bottom: 40px;
        position: relative;
        z-index: 3;
        max-width: 1040px; }
      .top_section_t .wrapper .top_section_body .top_section_body_text {
        display: block;
        position: relative;
        z-index: 3;
        color: #ffffff;
        font-size: 24px;
        line-height: 1.3;
        font-weight: 300;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        margin-bottom: 25px;
        max-width: 1040px; }
      .top_section_t .wrapper .top_section_body .background_top_image_next {
        position: relative;
        display: block;
        margin: 65px auto 5px auto;
        width: 40px;
        height: 40px;
        z-index: 3; }
        .top_section_t .wrapper .top_section_body .background_top_image_next img {
          width: 40px;
          height: auto; }
  @media (max-width: 995px) {
    .top_section_t .wrapper .top_section_body .top_section_body_title {
      font-size: 70px; } }

.decision_section {
  background-color: #f8f9fb;
  opacity: 0; }
  .decision_section .wrapper .decision_section_body {
    min-height: 465px;
    text-align: center; }
    .decision_section .wrapper .decision_section_body .decision_section_title {
      max-width: 760px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 100px;
      color: #263139;
      font-size: 50px;
      line-height: 1.55;
      font-weight: 300;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
      position: relative; }
      .decision_section .wrapper .decision_section_body .decision_section_title:after {
        position: absolute;
        bottom: -25px;
        height: 6px;
        left: 45%;
        width: 70px;
        margin-left: auto;
        margin-right: auto;
        content: "";
        background-color: #00aaff; }
    .decision_section .wrapper .decision_section_body .decision_section_text {
      margin-top: 70px;
      margin-left: auto;
      margin-right: auto;
      max-width: 760px;
      color: #555555;
      font-size: 15px;
      line-height: 1.55;
      font-weight: 300;
      background-position: center center;
      border-color: transparent;
      border-style: solid; }
      .decision_section .wrapper .decision_section_body .decision_section_text span {
        margin-bottom: 30px;
        display: block; }
      .decision_section .wrapper .decision_section_body .decision_section_text .decision_section_text_all {
        justify-content: center; }
        .decision_section .wrapper .decision_section_body .decision_section_text .decision_section_text_all .decision_section_item {
          width: fit-content;
          margin: 0 auto; }
          .decision_section .wrapper .decision_section_body .decision_section_text .decision_section_text_all .decision_section_item img {
            margin-top: auto;
            margin-bottom: auto;
            height: 14px;
            width: auto;
            margin-right: 35px; }
          .decision_section .wrapper .decision_section_body .decision_section_text .decision_section_text_all .decision_section_item span {
            display: block;
            color: #555555;
            font-size: 18px;
            line-height: 1.55;
            font-weight: 300;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
            margin-bottom: 0; }
            .decision_section .wrapper .decision_section_body .decision_section_text .decision_section_text_all .decision_section_item span strong {
              font-weight: 700;
              font-size: 30px; }
  @media (max-width: 440px) {
    .decision_section {
      padding-bottom: 15px; }
      .decision_section .wrapper .decision_section_body .decision_section_title {
        font-size: 40px; }
        .decision_section .wrapper .decision_section_body .decision_section_title:after {
          left: 41%; } }

.arrow_to_down .arrow_to_down_body {
  height: 50px;
  background-color: #ffffff;
  position: relative;
  width: 100%;
  overflow: hidden; }
  .arrow_to_down .arrow_to_down_body .arrow_to_down_all {
    width: 70px;
    height: 70px;
    margin: -35px auto; }
    .arrow_to_down .arrow_to_down_body .arrow_to_down_all .arrow_to_down_me {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: #f8f9fb;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
      vertical-align: middle;
      width: 100%;
      height: 100%; }

.section_image {
  padding-top: 45px;
  padding-bottom: 75px;
  background-color: #ffffff;
  opacity: 0; }
  .section_image .wrapper .section_VC_body {
    min-height: 255px;
    width: 100%; }
    .section_image .wrapper .section_VC_body .section_VC_img {
      max-width: 484px;
      height: auto; }
      .section_image .wrapper .section_VC_body .section_VC_img .section_VC_c {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        display: table-cell;
        vertical-align: middle;
        width: 100%; }
        .section_image .wrapper .section_VC_body .section_VC_img .section_VC_c img {
          width: 100%;
          display: block; }
    .section_image .wrapper .section_VC_body .right_marg {
      margin-right: -250px; }
    .section_image .wrapper .section_VC_body .left_marg {
      margin-left: -250px; }
  .section_image .wrapper .custom_block_image_body {
    max-width: 1160px;
    margin: 0 auto; }
    .section_image .wrapper .custom_block_image_body img {
      width: 100%;
      height: auto; }
  @media (max-width: 925px) {
    .section_image {
      padding-top: 15px; } }
  @media (max-width: 625px) {
    .section_image {
      padding-bottom: 75px; }
      .section_image .wrapper .section_VC_body {
        justify-content: unset;
        flex-direction: column; }
        .section_image .wrapper .section_VC_body .section_VC_img {
          padding-bottom: 15px; } }

.implementation_result {
  min-height: 435px;
  background-color: #ffffff;
  padding-bottom: 25px;
  opacity: 0; }
  .implementation_result .wrapper .implementation_result_body {
    justify-content: space-between; }
    .implementation_result .wrapper .implementation_result_body .implementation_result_left {
      max-width: 560px; }
      .implementation_result .wrapper .implementation_result_body .implementation_result_left .implementation_result_title {
        color: #263139;
        font-size: 24px;
        line-height: 1.3;
        font-weight: 300;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        display: block;
        vertical-align: middle;
        width: 100%;
        margin-bottom: 25px; }
      .implementation_result .wrapper .implementation_result_body .implementation_result_left .implementation_result_left_body {
        margin-bottom: 15px; }
        .implementation_result .wrapper .implementation_result_body .implementation_result_left .implementation_result_left_body .implementation_result_left_body_all {
          margin-bottom: 20px;
          align-items: center; }
          .implementation_result .wrapper .implementation_result_body .implementation_result_left .implementation_result_left_body .implementation_result_left_body_all .implementation_result_left_body_all_point {
            width: 30px;
            height: 30px;
            display: flex;
            padding: 5px; }
            .implementation_result .wrapper .implementation_result_body .implementation_result_left .implementation_result_left_body .implementation_result_left_body_all .implementation_result_left_body_all_point .point {
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background-color: #00aaff; }
          .implementation_result .wrapper .implementation_result_body .implementation_result_left .implementation_result_left_body .implementation_result_left_body_all .icon_img {
            width: 40px;
            height: 40px;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
            margin-right: 20px; }
          .implementation_result .wrapper .implementation_result_body .implementation_result_left .implementation_result_left_body .implementation_result_left_body_all span {
            max-width: 430px;
            display: block;
            color: #555555;
            font-size: 15px;
            line-height: 1.55;
            font-weight: 300;
            background-position: center center;
            border-color: transparent;
            border-style: solid; }
        .implementation_result .wrapper .implementation_result_body .implementation_result_left .implementation_result_left_body .p-rel-t {
          align-items: unset;
          margin-bottom: 5px; }
        .implementation_result .wrapper .implementation_result_body .implementation_result_left .implementation_result_left_body .implementation_result_left_body_all:last-child {
          margin-bottom: 0; }
      .implementation_result .wrapper .implementation_result_body .implementation_result_left .bold-r {
        color: #263139;
        font-size: 18px;
        line-height: 1.55;
        font-weight: 700;
        background-position: center center;
        border-color: transparent;
        border-style: solid; }
    .implementation_result .wrapper .implementation_result_body .implementation_result_right {
      max-width: 560px; }
      .implementation_result .wrapper .implementation_result_body .implementation_result_right .implementation_result_img {
        max-width: 560px;
        width: 100%;
        height: auto; }
    .implementation_result .wrapper .implementation_result_body .p-rel {
      max-width: 480px; }
      .implementation_result .wrapper .implementation_result_body .p-rel:after {
        position: absolute;
        content: "";
        width: 70px;
        height: 3px;
        left: 0;
        bottom: 5px;
        background-color: #00aaff; }
    .implementation_result .wrapper .implementation_result_body .right_marg {
      margin-right: -250px; }
    .implementation_result .wrapper .implementation_result_body .left_marg {
      margin-left: -250px; }
    @media (max-width: 1120px) {
      .implementation_result .wrapper .implementation_result_body {
        justify-content: center;
        padding: 5px; } }
  .implementation_result .wrapper .implementation_result_body_right {
    justify-content: space-between; }
    .implementation_result .wrapper .implementation_result_body_right .implementation_result_right {
      max-width: 560px; }
      .implementation_result .wrapper .implementation_result_body_right .implementation_result_right .implementation_result_title {
        color: #263139;
        font-size: 24px;
        line-height: 1.3;
        font-weight: 300;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        display: block;
        vertical-align: middle;
        width: 100%;
        margin-bottom: 25px; }
      .implementation_result .wrapper .implementation_result_body_right .implementation_result_right .implementation_result_left_body {
        margin-bottom: 15px;
        justify-content: space-between; }
        .implementation_result .wrapper .implementation_result_body_right .implementation_result_right .implementation_result_left_body .implementation_result_left_body_all {
          margin-bottom: 50px;
          align-items: center; }
          .implementation_result .wrapper .implementation_result_body_right .implementation_result_right .implementation_result_left_body .implementation_result_left_body_all .implementation_result_left_body_all_point {
            width: 30px;
            height: 30px;
            display: flex;
            padding: 5px; }
            .implementation_result .wrapper .implementation_result_body_right .implementation_result_right .implementation_result_left_body .implementation_result_left_body_all .implementation_result_left_body_all_point .point {
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background-color: #00aaff; }
          .implementation_result .wrapper .implementation_result_body_right .implementation_result_right .implementation_result_left_body .implementation_result_left_body_all .icon_img {
            width: 40px;
            height: 40px;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
            margin-right: 20px; }
          .implementation_result .wrapper .implementation_result_body_right .implementation_result_right .implementation_result_left_body .implementation_result_left_body_all span {
            max-width: 430px;
            display: block;
            color: #555555;
            font-size: 15px;
            line-height: 1.55;
            font-weight: 300;
            background-position: center center;
            border-color: transparent;
            border-style: solid; }
            .implementation_result .wrapper .implementation_result_body_right .implementation_result_right .implementation_result_left_body .implementation_result_left_body_all span strong {
              font-weight: bold; }
            .implementation_result .wrapper .implementation_result_body_right .implementation_result_right .implementation_result_left_body .implementation_result_left_body_all span a {
              color: #00aaff !important;
              text-decoration: none;
              border-bottom: 1px solid #00aaff;
              box-shadow: inset 0px -1px 0px 0px #00aaff;
              -webkit-box-shadow: inset 0px -1px 0px 0px #00aaff;
              -moz-box-shadow: inset 0px -1px 0px 0px #00aaff; }
        .implementation_result .wrapper .implementation_result_body_right .implementation_result_right .implementation_result_left_body .p-rel-t {
          align-items: unset;
          margin-bottom: 5px; }
        .implementation_result .wrapper .implementation_result_body_right .implementation_result_right .implementation_result_left_body .small-tmb {
          max-width: 260px; }
        @media (max-width: 1120px) {
          .implementation_result .wrapper .implementation_result_body_right .implementation_result_right .implementation_result_left_body {
            justify-content: center;
            padding: 5px; }
            .implementation_result .wrapper .implementation_result_body_right .implementation_result_right .implementation_result_left_body .small-tmb {
              margin-bottom: 20px; } }
      .implementation_result .wrapper .implementation_result_body_right .implementation_result_right .bold-r {
        color: #263139;
        font-size: 18px;
        line-height: 1.55;
        font-weight: 700;
        background-position: center center;
        border-color: transparent;
        border-style: solid; }
    .implementation_result .wrapper .implementation_result_body_right .implementation_result_left {
      max-width: 560px; }
      .implementation_result .wrapper .implementation_result_body_right .implementation_result_left .implementation_result_img {
        max-width: 560px;
        width: 100%;
        height: auto; }
    .implementation_result .wrapper .implementation_result_body_right .p-rel {
      max-width: 480px; }
      .implementation_result .wrapper .implementation_result_body_right .p-rel:after {
        position: absolute;
        content: "";
        width: 70px;
        height: 3px;
        left: 0;
        bottom: 5px;
        background-color: #00aaff; }
    .implementation_result .wrapper .implementation_result_body_right .left_marg {
      margin-left: -250px; }
    @media (max-width: 1120px) {
      .implementation_result .wrapper .implementation_result_body_right {
        justify-content: center;
        padding: 5px; }
        .implementation_result .wrapper .implementation_result_body_right .implementation_result_left {
          margin-bottom: 20px; } }
    @media (max-width: 730px) {
      .implementation_result .wrapper .implementation_result_body_right .implementation_result_right {
        order: 1;
        margin-top: 25px; }
      .implementation_result .wrapper .implementation_result_body_right .implementation_result_left {
        order: 2; } }

.link_demo {
  padding-bottom: 60px;
  opacity: 0; }
  .link_demo .wrapper .link_demo_btn {
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
    max-width: 350px;
    width: 100%;
    min-height: 60px;
    height: 100%;
    margin: 0 auto;
    border-width: 1px;
    border-radius: 30px;
    background-color: #ffffff;
    text-decoration: none;
    background-position: center center;
    border-color: #e4e7ea;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    box-shadow: 0 7px 14px 0 rgba(127, 136, 144, 0.2); }
    .link_demo .wrapper .link_demo_btn span {
      color: #263139;
      font-size: 14px;
      line-height: 1;
      font-weight: 500;
      letter-spacing: 2px; }
    .link_demo .wrapper .link_demo_btn img {
      height: 26px;
      width: 26px;
      margin-right: 20px; }
    @media (max-width: 390px) {
      .link_demo .wrapper .link_demo_btn {
        padding-left: 10px;
        padding-right: 10px;
        max-width: 250px; } }

.connection_manager {
  min-height: 490px;
  height: 100%;
  background-color: #ffffff;
  opacity: 0; }
  .connection_manager .wrapper .connection_manager_body {
    justify-content: space-between;
    padding-top: 85px; }
    .connection_manager .wrapper .connection_manager_body .connection_manager_item {
      position: relative;
      height: 70px;
      width: 335px;
      background-color: #f8f9fb;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
      counter-increment: my-counter;
      margin-bottom: 130px; }
      .connection_manager .wrapper .connection_manager_body .connection_manager_item:before {
        content: counter(my-counter);
        color: #666666;
        line-height: 1.55;
        font-weight: 300;
        font-size: 120px;
        margin-top: -60px;
        margin-left: 15px; }
      .connection_manager .wrapper .connection_manager_body .connection_manager_item .descr {
        margin-left: 20px;
        align-items: center;
        max-width: 210px;
        color: #333333;
        font-size: 12px;
        line-height: 1.55;
        font-weight: 400;
        background-position: center center;
        border-color: transparent;
        border-style: solid; }
  @media (max-width: 1050px) {
    .connection_manager .wrapper .connection_manager_body {
      justify-content: center; }
      .connection_manager .wrapper .connection_manager_body .connection_manager_item {
        margin-bottom: 90px; }
      .connection_manager .wrapper .connection_manager_body .connection_manager_item:nth-child(odd) {
        margin-right: 40px; } }
  @media (max-width: 710px) {
    .connection_manager .wrapper .connection_manager_body .connection_manager_item {
      margin-bottom: 80px;
      margin-right: 5px;
      margin-left: 5px; }
    .connection_manager .wrapper .connection_manager_body .connection_manager_item:nth-child(odd) {
      margin-right: 5px;
      margin-left: 5px; } }

.custom_block_text {
  padding-top: 15px;
  padding-bottom: 0;
  opacity: 0; }
  .custom_block_text .wrapper .custom_block_body {
    font-size: 22px;
    text-align: center;
    color: #263139;
    font-weight: 300; }

.connection_manager_tasks {
  padding-bottom: 60px;
  padding-top: 50px;
  opacity: 0; }
  .connection_manager_tasks .wrapper .connection_manager_tasks_body {
    justify-content: space-between; }
    .connection_manager_tasks .wrapper .connection_manager_tasks_body .connection_manager_tasks_item {
      position: relative;
      width: 260px;
      height: auto;
      margin-bottom: 35px; }
      .connection_manager_tasks .wrapper .connection_manager_tasks_body .connection_manager_tasks_item .image_taska {
        display: block;
        width: 80px;
        height: 75px;
        margin-left: auto;
        margin-right: auto; }
      .connection_manager_tasks .wrapper .connection_manager_tasks_body .connection_manager_tasks_item .desc {
        margin-top: 25px;
        color: #555555;
        font-size: 15px;
        text-align: center;
        line-height: 1.55;
        font-weight: 300;
        background-position: center center;
        border-color: transparent;
        border-style: solid; }
      .connection_manager_tasks .wrapper .connection_manager_tasks_body .connection_manager_tasks_item:after {
        position: absolute;
        content: '';
        height: 9px;
        width: 9px;
        background-color: #00aaff;
        border-radius: 50%;
        bottom: -25px;
        left: 50%; }
    @media (max-width: 1040px) {
      .connection_manager_tasks .wrapper .connection_manager_tasks_body {
        max-width: 520px;
        margin-left: auto;
        margin-right: auto; } }
    @media (max-width: 520px) {
      .connection_manager_tasks .wrapper .connection_manager_tasks_body {
        max-width: 260px; }
        .connection_manager_tasks .wrapper .connection_manager_tasks_body .connection_manager_tasks_item {
          margin-bottom: 60px; }
        .connection_manager_tasks .wrapper .connection_manager_tasks_body .connection_manager_tasks_item:last-child {
          margin-bottom: 40px; } }

.table_small {
  padding-top: 30px;
  background-color: #ffffff;
  opacity: 0; }
  .table_small .wrapper .arrow_to_down_all {
    height: auto;
    width: 100%; }
    .table_small .wrapper .arrow_to_down_all .table_small_b {
      width: 100%; }
      .table_small .wrapper .arrow_to_down_all .table_small_b .table_small_c {
        min-height: 65px;
        width: 25%;
        color: #555555;
        font-size: 16px;
        line-height: 1.55;
        font-weight: 300;
        padding: 15px 20px; }
        .table_small .wrapper .arrow_to_down_all .table_small_b .table_small_c .table_small_c_h {
          border-radius: 20px;
          background-color: #00aaff;
          background-position: center center;
          border-color: transparent;
          border-style: solid;
          height: 35px;
          color: #ffffff;
          font-size: 16px;
          justify-content: center;
          align-items: center;
          line-height: 1.55;
          font-weight: 700; }
    .table_small .wrapper .arrow_to_down_all .table_small_b:first-child .table_small_c {
      padding: 0 20px;
      min-height: 40px; }
    .table_small .wrapper .arrow_to_down_all .bc-gr {
      background-color: #f8f9fb; }
    @media (max-width: 705px) {
      .table_small .wrapper .arrow_to_down_all .table_small_b .table_small_c {
        font-size: 12px;
        padding: 10px 10px; }
        .table_small .wrapper .arrow_to_down_all .table_small_b .table_small_c .table_small_c_h {
          font-size: 12px; }
      .table_small .wrapper .arrow_to_down_all .table_small_b:first-child .table_small_c {
        padding: 0 10px; } }
    @media (max-width: 475px) {
      .table_small .wrapper .arrow_to_down_all .table_small_b .table_small_c {
        font-size: 10px;
        padding: 5px 5px; }
        .table_small .wrapper .arrow_to_down_all .table_small_b .table_small_c .table_small_c_h {
          font-size: 10px; }
      .table_small .wrapper .arrow_to_down_all .table_small_b:first-child .table_small_c {
        padding: 0 5px; } }

.slider_section {
  padding: 50px 0;
  opacity: 0; }
  .slider_section .wrapper {
    display: flex;
    align-items: center;
    width: fit-content; }
    .slider_section .wrapper .single-item {
      max-height: 600px;
      height: auto;
      max-width: 860px;
      width: 100%;
      overflow: hidden; }
      .slider_section .wrapper .single-item .slick-list {
        max-height: 550px;
        height: auto !important;
        max-width: 860px;
        width: 100%; }
        .slider_section .wrapper .single-item .slick-list .slick-track {
          display: flex; }
          .slider_section .wrapper .single-item .slick-list .slick-track .slick-slide {
            z-index: 1 !important; }
            .slider_section .wrapper .single-item .slick-list .slick-track .slick-slide img {
              max-height: 550px;
              height: auto !important;
              max-width: 860px;
              width: 100%; }
      .slider_section .wrapper .single-item .slick-dots {
        display: flex;
        align-items: center;
        margin-top: 15px;
        justify-content: center; }
        .slider_section .wrapper .single-item .slick-dots li {
          width: 20px;
          height: 20px;
          margin: 0 5px;
          list-style-type: none; }
          .slider_section .wrapper .single-item .slick-dots li button {
            border: none;
            background-color: #c7c7c7;
            color: #c7c7c7;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            font-size: 1px;
            padding: 0;
            cursor: pointer; }
        .slider_section .wrapper .single-item .slick-dots .slick-active button {
          border: none;
          background-color: #00aaff;
          color: #00aaff;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          font-size: 1px; }
    .slider_section .wrapper .arrow_right {
      transform: rotate(180deg);
      width: 40px !important;
      height: 40px;
      border-radius: 50%;
      background-color: #e8e8e8;
      margin-right: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;
      cursor: pointer; }
      .slider_section .wrapper .arrow_right svg {
        width: 10px; }
        .slider_section .wrapper .arrow_right svg polyline {
          transition: all 0.3s ease-in-out; }
      .slider_section .wrapper .arrow_right:hover {
        transition: all 0.3s ease-in-out;
        background-color: #00aaff; }
        .slider_section .wrapper .arrow_right:hover svg polyline {
          transition: all 0.3s ease-in-out;
          stroke: #ffffff; }
    .slider_section .wrapper .arrow_left {
      width: 40px !important;
      height: 40px;
      border-radius: 50%;
      background-color: #e8e8e8;
      margin-left: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;
      cursor: pointer; }
      .slider_section .wrapper .arrow_left svg {
        width: 10px; }
        .slider_section .wrapper .arrow_left svg polyline {
          transition: all 0.3s ease-in-out; }
      .slider_section .wrapper .arrow_left:hover {
        transition: all 0.3s ease-in-out;
        background-color: #00aaff; }
        .slider_section .wrapper .arrow_left:hover svg polyline {
          transition: all 0.3s ease-in-out;
          stroke: #ffffff; }
    @media (max-width: 970px) {
      .slider_section .wrapper .arrow_right {
        margin-right: 10px; }
      .slider_section .wrapper .arrow_left {
        margin-left: 10px; }
      .slider_section .wrapper .single-item {
        max-height: 450px;
        max-width: 650px; }
        .slider_section .wrapper .single-item .slick-list {
          max-height: 400px;
          max-width: 650px; }
          .slider_section .wrapper .single-item .slick-list .slick-track .slick-slide img {
            max-height: 400px;
            max-width: 650px; } }
    @media (max-width: 770px) {
      .slider_section .wrapper .arrow_right {
        margin-right: 5px; }
      .slider_section .wrapper .arrow_left {
        margin-left: 5px; }
      .slider_section .wrapper .single-item {
        max-height: 400px;
        max-width: 450px; }
        .slider_section .wrapper .single-item .slick-list {
          max-height: 350px;
          max-width: 450px; }
          .slider_section .wrapper .single-item .slick-list .slick-track .slick-slide img {
            max-height: 350px;
            max-width: 450px; } }
    @media (max-width: 550px) {
      .slider_section .wrapper .arrow_right {
        margin-right: -5px;
        z-index: 2; }
      .slider_section .wrapper .arrow_left {
        margin-left: -5px;
        z-index: 2; }
      .slider_section .wrapper .single-item {
        max-height: 400px;
        max-width: 350px; }
        .slider_section .wrapper .single-item .slick-list {
          max-height: 300px;
          max-width: 350px; }
          .slider_section .wrapper .single-item .slick-list .slick-track .slick-slide img {
            max-height: 300px;
            max-width: 350px; } }
    @media (max-width: 420px) {
      .slider_section .wrapper .arrow_right {
        margin-right: -35px; }
      .slider_section .wrapper .arrow_left {
        margin-left: -35px; } }

.map {
  width: 100%;
  height: 500px;
  opacity: 0; }
  .map .t117 {
    height: 100%;
    width: 100%; }
    .map .t117 .t-map {
      height: 100%;
      width: 100%; }
      .map .t117 .t-map .ymaps-2-1-78-map {
        height: 100%;
        width: 100%; }

.connections_provides {
  opacity: 0; }
  .connections_provides .wrapper .connections_provides_body {
    padding: 25px 0 0 0; }
    .connections_provides .wrapper .connections_provides_body .connections_provides_body_title {
      color: #263139;
      font-size: 25px;
      margin-bottom: 25px;
      line-height: 1.3;
      font-weight: 300;
      background-position: center center;
      border-color: transparent;
      border-style: solid; }
    .connections_provides .wrapper .connections_provides_body ul {
      max-width: 1140px;
      color: #555555;
      font-size: 18px;
      line-height: 2;
      font-weight: 300;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
      padding-left: 20px;
      margin-top: 0;
      margin-bottom: 10px; }
      .connections_provides .wrapper .connections_provides_body ul li {
        display: list-item;
        text-align: -webkit-match-parent; }
        .connections_provides .wrapper .connections_provides_body ul li::marker {
          unicode-bidi: isolate;
          font-variant-numeric: tabular-nums;
          text-transform: none;
          text-indent: 0 !important;
          text-align: start !important;
          text-align-last: start !important; }
        .connections_provides .wrapper .connections_provides_body ul li strong {
          font-weight: 700; }
    .connections_provides .wrapper .connections_provides_body em {
      display: block;
      margin-top: 40px;
      color: #555555;
      font-size: 18px;
      font-style: italic;
      line-height: 2;
      font-weight: 300;
      background-position: center center;
      border-color: transparent;
      border-style: solid; }
    .connections_provides .wrapper .connections_provides_body span {
      display: block;
      color: #555555;
      font-size: 18px;
      line-height: 2;
      font-weight: 300;
      background-position: center center;
      border-color: transparent;
      border-style: solid; }
      .connections_provides .wrapper .connections_provides_body span strong {
        font-weight: 700; }
  .connections_provides .wrapper form {
    padding-top: 25px;
    padding-bottom: 35px; }
    .connections_provides .wrapper form .form_inputsbox {
      justify-content: space-between; }
      .connections_provides .wrapper form .form_inputsbox .form_item {
        margin-bottom: 20px;
        padding-right: 20px; }
        .connections_provides .wrapper form .form_inputsbox .form_item input {
          color: #000;
          border: 3px solid #00aaff;
          background-color: #ffffff;
          border-radius: 5px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          font-size: 15px;
          font-weight: 400;
          height: 40px;
          padding: 5px 10px 5px 10px;
          margin: 0;
          line-height: 1.33;
          width: 275px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
          .connections_provides .wrapper form .form_inputsbox .form_item input::-webkit-input-placeholder {
            font-size: 15px;
            line-height: 1;
            opacity: .5; }
      .connections_provides .wrapper form .form_inputsbox .submit {
        color: #ffffff;
        background-color: #00aaff;
        font-weight: 600;
        font-size: 15px;
        width: 275px;
        height: 40px;
        padding: 0 15px;
        display: block;
        text-align: center;
        border: 0 none;
        cursor: pointer; }
    @media (max-width: 1150px) {
      .connections_provides .wrapper form .form_inputsbox {
        display: block; }
        .connections_provides .wrapper form .form_inputsbox .form_item {
          width: 100%;
          display: flex;
          justify-content: center; }
          .connections_provides .wrapper form .form_inputsbox .form_item input {
            margin-left: auto;
            margin-right: auto; }
        .connections_provides .wrapper form .form_inputsbox .submit {
          margin-left: auto;
          margin-right: auto; } }

footer {
  background-color: #2c3c4c;
  min-height: 250px; }
  footer .wrapper .body_footer {
    width: fit-content;
    margin: 65px auto 15px auto;
    max-width: 220px;
    height: auto; }
    footer .wrapper .body_footer img {
      max-width: 220px;
      height: auto; }
  footer .wrapper span {
    display: block;
    margin: 0 auto;
    width: fit-content;
    color: #cccccc;
    font-size: 13px;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid; }
  footer .wrapper a {
    width: fit-content;
    margin: 0 auto;
    color: #ffffff;
    font-size: 13px;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    box-shadow: inset 0 0 0 0 #ffffff;
    -webkit-box-shadow: inset 0 0 0 0 #ffffff;
    -moz-box-shadow: inset 0 -0px 0 0 #ffffff; }

/*# sourceMappingURL=main.css.map */
