.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.link {
  color: #00aaff;
  text-decoration: none;
  border-bottom: 1px solid #00aaff;
  box-shadow: inset 0px -1px 0px 0px #00aaff;
  -webkit-box-shadow: inset 0px -1px 0px 0px #00aaff;
  -moz-box-shadow: inset 0px -1px 0px 0px #00aaff;
}