@import "custom";

//Отдел Header Uveon
.header_block {
    background-color: rgba(44, 60, 76, 0);
    box-shadow: none;
    display: block;
    width: 100%;
    height: 80px;
    z-index: 990;
    top: 0;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
    -webkit-font-smoothing: antialiased;
    .wrapper {
        .header_block_left {
            display: table-cell;
            vertical-align: middle;
            padding: 20px 0 20px 20px;
            .d-block {
                .header_block_left_link {
                    color: #FFFFFF;
                    .header_block {
                        max-width: 200px;
                        width: 200px;
                        height: auto;
                        display: block;
                    }
                }
            }
        }
        .header_block_right {
            padding-right: 20px;
            text-align: right;
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            .header_block_right_list {
                list-style-type: none;
                text-align: right;
                .list_item {
                    clear: both;
                    font-size: 16px;
                    display: inline;
                    padding-left: 15px;
                    padding-right: 15px;
                    margin: 0;
                    color: #000;
                    white-space: nowrap;
                    .list_item_link {
                        color: #ffffff;
                        font-size: 14px;
                        font-weight: 400;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        -webkit-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
                        transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
                        position: relative;
                        &::after {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: 20%;
                            opacity: 0;
                            width: 100%;
                            height: 100%;
                            border-bottom: 1px solid #ffffff;
                            -webkit-box-shadow: inset 0px -1px 0px 0px #ffffff;
                            -moz-box-shadow: inset 0px -1px 0px 0px #ffffff;
                            box-shadow: inset 0px -1px 0px 0px #ffffff;
                            -webkit-transition: all 0.3s ease;
                            transition: all 0.3s ease;
                        }
                        &:hover{
                            color: #ffffff;
                            &::after{
                                opacity: 1;
                                bottom: -1px;
                            }
                        }
                    }
                }
                .list_item:first-child {
                    padding-left: 0;
                }
                .list_item:last-child {
                    padding-right: 0;
                }
            }
        }
        .header_block_right_hr {
            hr {
                margin: 0 20px 0 20px;
                background-color: #ffffff;
                height: 1px;
                opacity: 0.2;
                border: none;
            }
        }
    }
}

.top_section {
    .wrapper {
        .top_section_body {
            min-height: 850px;
            height: auto;
            background-color: #ffffff;
            .background_top {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 0;
                width: 100%;
                min-height: 850px;
                height: 40vh;
                background-position: center center;
                background-attachment: fixed;
                background-image: url(../img/bgimg.jpg);
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
}